
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block titie %}BASE{% endblock %}
	</title>
	{% load staticfiles %}
	<link rel="stylesheet"  type="text/css" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <link href="https://fonts.googleapis.com/css?family=Dokdo|East+Sea+Dokdo|Nanum+Pen+Script&amp;subset=korean" rel="stylesheet">

	
</head>
<body>
<div id="header" style="background-color: white; font-size:100px;font-family: 'East Sea Dokdo',cursive;">
        주 막 보 리 밥
    </div>

<nav class="navbar" >
    
    <ul class="nav navbar-nav" >
      <li class="active" style="font-size:40px;font-family: 'Nanum Pen Script', cursive;"><a href="{% url 'home' %}">주막 보리밥</a></li>
      <li style="font-size:40px;font-family: 'Nanum Pen Script', cursive;"><a href="{% url 'homepage:intro' %}">소 개</a></li>
      <li style="font-size:40px;font-family: 'Nanum Pen Script', cursive;"><a href="{% url 'homepage:dish' %}">메 뉴</a></li>
      <li style="font-size:40px;font-family: 'Nanum Pen Script', cursive;"><a href="{% url 'homepage:photo' %}">사 진 첩</a></li>
    </ul>

</nav>

<h1>orange?</h1>
    
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

</body>
</html>