
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block titie %}BASE{% endblock %}
	</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
	jQuery(function() {
    var rolling_time = 3000;
    var effect_time = 1000;
 
    var $rolling_img = $("#rolling_img > img");
    $rolling_img.not(":first").hide();
 
    setInterval(rolling, rolling_time);
 
    function rolling()
    {
        $visible_img = $rolling_img.filter(":visible");
        $visible_img.fadeOut(effect_time);
 
        $next_img = $visible_img.next();
        if ($next_img.length === 0) {
            $next_img = $rolling_img.filter(":first");
        }
        $next_img.fadeIn(effect_time);
    }


var $window = $(window)
 ,$sect1 = $('.section1')
 ,$menu = $('#menu')

	$window.scroll(move)
    
    var sect1P = $sect1.position().top
    var sect2P = $sect2.position().top
    var sect3P = $sect3.position().top
    var sect4P = $sect4.position().top
    function move(){
        var nowScroll = $window.scrollTop()//현재 스크롤(화면) 위치
        console.log(nowScroll)
        
        if( nowScroll >= sect1P){
        
            $menu.addClass('on')
        }else{
            $menu.removeClass('on')
        }
    }
        });
</script>
	
</head>
<body>
	<div id="header" class="section1">
		주 막 보 리 밥
	</div>
	<div id="menu">
		<ul>
			<li><a href="{% url 'home' %}"> 주막보리밥 </a></li>
			<li><a href="{% url 'homepage:intro' %}">소 개</a></li>
			<li><a href="{% url 'homepage:dish' %}">메 뉴</a></li>
			<li><a href="{% url 'homepage:photo' %}">사 진</a></li>
			
		</ul>
	</div>
    
{% block content %}{% endblock %}
{% block footer %}{% endblock %}

</body>
</html>