{% extends "base.html" %}

{% block title %}HOME{% endblock %}

{% load staticfiles %}
{% block extrastyle %} {% static "css/home.css" %} {% endblock %}

{% block content %}
<div >

        <img style="width:60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        border-radius: 10px;
        " src="{% static 'img/main.jpg' %}">
      </div>


{% endblock %}

{% block footer %}
<div id="footer" style="padding:30px;text-align: center;font-size: 30px;font-family: 'Nanum Pen Script', cursive;">
	주 소 : 경기도 화성시 동탄면 장지리 834-3 주막보리밥<br>
	전 화 번 호 : 031-374-3104
</div>
{% endblock %}